.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-logo {
    display: block;
    margin: 0 auto 15px auto;
    width: 200px; 
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .login-form div {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ed9644;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #ed9644;
  }

  .login-form p {
    text-align: center;
    margin-top: 15px;
  }
  
  .login-form a {
    color: #ed9644;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  